/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "toaster.min";
@import "angular-ui-select";
@import "angular-block-ui";
@import 'bootstrap-datepicker';

body {
padding-top: 60px;
// padding-top: 70px;
font-family: 'Roboto', 'Arial', sans-serif;
}

.centrar{
  text-align: center;
}

.image-box {
  background: #F8F8F8;
  border: 5px solid #DDD;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}