<div class="page-header">
  <h2>{{provincia.titulo}}</h2>
</div>
<div class="row">
  <div class="col-sm-4 col-xs-8">
    <ng-form class="form-horizontal" novalidate name="form">
      <div class="form-group">
        <label for="inputNombre" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" ng-model="provincia.servicio.provincia.nombre">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" ng-disabled="form.$invalid" ng-click="provincia.guardar()">Guardar</button>
          <a href="/admin/provincias" class="btn btn-default">Retornar</a>
        </div>
      </div>
    </form>
  </div>
</div>