<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha realizado una petición para cambiar su contraseña. Usted puede hacer esto pulsando el siguiente enlance.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> Si desconoce esta petición, por favor ignore este email.</p>
<p> Su contraseña no sera cambiada hasta que usted tenga acceso al enlace arriba y cree una nueva.</p>
