<div class="page-header">
  <h2>Clientes</h2>
</div>
<div class="row">
  <div class="col-sm-9 col-xs-14">
    <div class="panel panel-default">
      <div class="panel-heading">Clientes
      <span class="pull-right"><a href="/admin/clientes/nuevo" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-plus" ></i></a></span>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
        <tr>
          <th>Username</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Cedula</th>
          <th>Direccion</th>
          <th class="centrar"  style="width: 10%">Acciones</th>
        </tr>
        <tr ng-repeat="row in cliente.clientes">
          <td>{{row.username}}</td>
          <td>{{row.nombre}} {{row.apellido}}</td>
          <td>{{row.email}}</td>
          <td>{{row.cedula}}</td>
          <td>{{row.direccion}}</td>
          <td class="centrar">
            <div class="btn-group btn-group-xs" role="group">
              <a href="/admin/clientes/{{row.id}}/editar"class="btn btn-default" ng-click=""><i class="glyphicon glyphicon-pencil"></i></a>
              <a class="btn btn-default" ng-click="cliente.eliminarCliente(row)" ><i class="glyphicon glyphicon-remove"></i></a>
            </div>
          </td>
        </tr>
        </table>
      </div>
    </div>    
  </div>
</div>
