<div class="page-header">
  <h2>{{anuncio.titulo}}</h2>
</div>

<div class="row">
  <div class="col-sm-8 col-xs-12">
    <form class="form-horizontal" novalidate name="form">
      <div class="row">
        <div class="col-sm-12 form-group" ng-class="{'has-error':form.clientes.$invalid}">
          <label for="disabledSelect" class="col-sm-2 control-label">Clientes</label>
          <div class="col-sm-4">
            <select id="disabledSelect" class="form-control" ng-model="anuncio.servicio.cliente" name ="clientes" ng-options="row.nombre for row in anuncio.servicio.clientes" required>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="inputDescripcion" class="col-sm-2 control-label">Descripcion</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripcion" ng-model="anuncio.servicio.anuncio.descripcion">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12  form-group" ng-class="{'has-error':form.provincias.$invalid}">
          <label for="disabledProvincias" class="col-sm-2 control-label">Provincias</label>
          <div class="col-sm-8">
            <ui-select name="provincias" multiple  ng-required="true" id="disabledProvincias" style="width:100%" ng-model="anuncio.servicio.provinciasSeleccionadas" ng-disabled="disabled" theme="bootstrap" on-select="anuncio.onSelect($item)" on-remove= "anuncio.onRemove($item)">
            <ui-select-match>{{$item.nombre}}</ui-select-match>
            <ui-select-choices repeat="provincia in anuncio.servicio.provincias  | filter:$select.search" >
              {{provincia.nombre}}
            </ui-select-choices>
          </ui-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
         <label for="disabledSelect" class="col-sm-2 control-label">Tipo</label>
          <div class="col-sm-4">
            <select ng-model="anuncio.servicio.anuncio.tipo" class="form-control"  ng-options="item for item in anuncio.servicio.items">
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="animate-switch-container" ng-switch on="anuncio.servicio.anuncio.tipo">
              <div class="animate-switch" ng-switch-when="Imagen" class="form-group">
                <div class="form-group" ng-class="{'has-error':form.im
                age.$invalid}">
                  <label class="col-sm-4 control-label">Imagen</label>
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-12">
                        <input class="form-control" type="file" name="image" ngf-select="anuncio.readFile($file)" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-resize="{width: 320, height: 240}" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="animate-switch" ng-switch-when="Video">
                <div class="form-group" ng-class="{'has-error':form.video.$invalid}">
                  <label for="inputVideo" class="col-sm-4 control-label">Video</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="file" name="video" ngf-select="anuncio.readVideo($file)" name="file" ngf-pattern="'video/*'" accept="video/*" ngf-max-size="30MB" ngf-resize="{width: 320, height: 240}" required>
                  </div>
                </div>
              </div>
              <div class="animate-switch" ng-switch-default>
                <div class="form-group" ng-class="{'has-error':form.texto.$invalid}">
                  <label for="inputTexto" class="col-sm-4 control-label">Texto</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" rows="4" ng-model="anuncio.servicio.anuncio.texto" name="texto" required></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="disabledSelect" class="col-sm-4 control-label">Estado</label>
              <div class="col-sm-8">
                <select id="disabledSelect" class="form-control" ng-model="anuncio.servicio.anuncio.estado">
                  <option>Activo</option>
                  <option>Inactivo</option>
                  <option>Rechazado</option>
                  <option>Publicado</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group" ng-class="{'has-error':form.hora.$invalid}" >
              <label for="inputHora" class="col-sm-4 control-label">Hora</label>
              <div class="col-sm-8" >
                <input type="time" class="form-control" id="inputcomienza" name="hora" ng-model="anuncio.servicio.anuncio.hora" autocomplete="on" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group" ng-class="{'has-error':form.finaliza.$invalid}">
              <label class="col-sm-4 control-label">Finaliza</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="finaliza" data-provide='datepicker'  data-date-format="dd/mm/yyyy" id="inputFinaliza" placeholder="Finaliza" ng-model="anuncio.servicio.anuncio.fechaEnd" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-default" ng-disabled="form.$invalid" ng-click="anuncio.guardar()">Guardar</button>
                <a href="/admin/anuncios" class="btn btn-default">Retornar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6" ng-if="anuncio.servicio.anuncio.tipo == 'Imagen'">
          <div style="width:320px;height:240px;padding:0px" class="form-control">
            <img ngf-src="anuncio.servicio.imagen" class="image-box">            
          </div>
        </div>
        <div class="col-sm-6" ng-if="anuncio.servicio.anuncio.tipo == 'Video'">
          <div style="width:320px;height:240px;padding:0px" class="form-control">
            <video controls="" ngf-src="anuncio.servicio.video" class="image-box"></video>
          </div>
<!--           <section class="video" ng-video ng-model="interface">
            <section vi-controls class="controls">
                <span ng-click="interface.controls.play()" title="Play" class="glyphicon glyphicon-play"></span>
                <span ng-click="interface.controls.pause()" title="Pause" class="glyphicon glyphicon-pause"></span>
            </section>
          </section> -->
        </div>
      </div>
    </form>
  </div>
</div>      
<!-- 
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" ng-disabled="form.$invalid" ng-click="anuncio.guardar()">Guardar</button>
          <a href="/admin/anuncios" class="btn btn-default">Retornar</a>
        </div>
      </div> -->
